[project]
	description = Device Tree for Samsung Galaxy Note 3 SM-N900
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/halaszk (halaszk)
[access "refs/for/refs/*"]
	read = group user/halaszk (halaszk)
	push = group user/halaszk (halaszk)
	label-Code-Review = -2..+2 group user/halaszk (halaszk)
	label-Verified = -1..+1 group user/halaszk (halaszk)
	rebase = group user/halaszk (halaszk)
	removeReviewer = group user/halaszk (halaszk)
	submit = group user/halaszk (halaszk)
[access "refs/heads/*"]
	read = group user/halaszk (halaszk)
	create = group user/halaszk (halaszk)
	push = +force group user/halaszk (halaszk)
	pushMerge = group user/halaszk (halaszk)
[access "refs/tags/*"]
	push = +force group user/halaszk (halaszk)
	pushTag = group user/halaszk (halaszk)
	pushSignedTag = group user/halaszk (halaszk)
